<mat-toolbar>
  <h1>Projeditor</h1>
  <span fxFlex></span>
  <button mat-button>
    Create
  </button>
  <button mat-button>
    Edit
  </button>
  <button mat-button (click)="print()" [disabled]="project.name==='' || project.id===''" >Generate Project</button>
</mat-toolbar>

<div class="frame" fxLayout="column" fxLayoutAlign="center center">


  <div class="project-area">
    <a id="downloadAnchorElem"></a>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput placeholder="Project Id" [(ngModel)]="project.id" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Project name" [(ngModel)]="project.name" required>
      </mat-form-field>
    </div>

    <!-- Design Board -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Design Board
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-mini-fab class="add-button">
            <mat-icon aria-label="add design board" (click)="edit('designBoard','add')">add</mat-icon>
          </button>
        </div>
        <div *ngFor="let item of project.designBoard; let idx = index" style="padding-bottom:20px;">
          <div class="ad-image">
            <img [src]="item.src" alt="">
          </div>
          <div fxLayout="row" fxLayoutWrap>
            <input type="file" name="pic" accept="image/*" (change)="loadImg($event,'designBoard',idx)" matt-button>
            <span fxFlex></span>
            <button mat-button (click)="openDialog('designBoard',idx)">Delete this item</button>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-expansion-panel>

      <!-- Renderings -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Renderings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-mini-fab class="add-button">
            <mat-icon aria-label="add design board" (click)="edit('renderings','add')">add</mat-icon>
          </button>
        </div>
        <div *ngFor="let item of project.renderings; let idx = index">
          <div class="ad-image">
            <img [src]="item.src" alt="">
          </div>
          <div fxLayout="row" fxLayoutWrap>
            <input type="file" name="pic" accept="image/*" (change)="loadImg($event,'renderings',idx)" matt-button>
            <span fxFlex></span>
            <button mat-button (click)="openDialog('renderings',idx)">Delete this item</button>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Shopping List -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Shopping List
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-mini-fab class="add-button">
            <mat-icon aria-label="add design board" (click)="edit('shoppingList','add')">add</mat-icon>
          </button>
        </div>
        <div>
          hello - here we will have the image
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</div>