<div class="frame" fxLayout="column" fxLayoutAlign="center center">

  <h1>What would you like to do?</h1>

  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-button class="card">
      Create
    </button>
    <button mat-button class="card">
      Edit
    </button>
  </div>

  <div class="project-area">

    <div>
      <mat-form-field>
        <input matInput placeholder="Project name" [(ngModel)]="project.name">
      </mat-form-field>
      <button mat-button (click)="print()">Print</button>
    </div>

    <!-- Design Board -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Design Board
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-mini-fab>
          <mat-icon aria-label="add design board" (click)="addDesignBoard()">add</mat-icon>
        </button>
        <div *ngFor="let item of project.designBoard" class="designBoardItem">
          <div class="designBoard-image">
            <img [src]="item.src" alt="">
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Renderings -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Renderings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          hello - here we will have the image
        </div>
      </mat-expansion-panel>

      <!-- Shopping List -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Shopping List
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          hello - here we will have the image
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</div>